/*main style*/
* {
    /*border: 1px solid black;*/
    margin-block: 0px;
    margin-left: 0px;
    margin-right: 0px;
    /*border-radius: 10px;*/
}

.top{
    background-image: url("//images01.nicepage.io/04/c9/04c92f4b1888be1f59c0cf8549526806.jpeg");
    overflow: visible;
    object-fit: cover;
    display: block;
    vertical-align: middle;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    /*border: 1px solid transparent;*/
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*flex-basis: 60px; height: 160px;*/
    justify-content: space-between;
    padding-top: 1.2%;
    margin-left: 10%;
    margin-right: 10%;
}

#text-logo{
    font-weight: 400;
    color: #ffffff;
    font-family: Roboto,sans-serif;
    font-size: 1.875rem;
    line-height: 1.2;
    cursor: pointer;
    box-sizing: border-box;

    padding-top: 10px;
}

#menu {
    /*width: 50%;*/
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    white-space: nowrap;
    line-height: 1;
    vertical-align: middle;
}

.nav-item {
    /*display: flex;*/
    /*justify-content: space-around;*/
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 12px;
    font-style: normal;
    /*height: 32px;*/
    /*letter-spacing: 2px;*/
    line-height: 12px;
    /*padding-bottom: 10px;*/
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    color: #ffffff;
    cursor: pointer;
}

#section-top {
    margin-left: 10%;
    margin-right: 30%;
    margin-top: 12%;
    padding-bottom: 12%;
}

#section-top-text{
    color: #ffffff !important;
    position: relative;
    /*box-sizing: border-box;*/
    pointer-events: auto;
}
#section-top-text-h1{
    /*font-size: 5.625rem;*/
    font-size: 90px;
    /*margin: 200px 112px 0 0;*/
    font-family: Roboto,sans-serif;
    font-weight: 400;
    line-height: 1.1;
    word-wrap: break-word;
    margin-block-end: 3%;
}

#section-top-text-h2{
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    height: 96px;
    line-height: 32px;
    overflow-wrap: break-word;
    /*margin-block-start: 25px;*/
    /*margin-inline-end: 742px;*/
    /*margin-right: 742px;*/
    /*margin-top: 25px;*/
}

.btn1 {
    position: relative;
    display: table;
    cursor: pointer;
    text-decoration: none;
    border: 0 none transparent;
    outline-width: 0;
    background-color: transparent;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    border-radius: 10px !important;
    background-image: linear-gradient(135deg, #478ac9, #24d9ea);
    margin: 40px auto 60px 0;
    padding: 14px 32px 15px;
    pointer-events: initial;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 25.6px;
}

.menu-button{
    display: none;
}

#section-top-text-h2-min{
    display: none;
}

@media (max-width: 991px){
    #menu{
        display: none;
    }
    #section-top-text-h1{
        font-size: 48px;
    }
    .menu-button{
        padding: 3%;
        display: flow;
    }
}

@media (max-width: 767px){
    #menu{
        display: none;
    }
    .menu-button{
        padding: 3%;
        display: flow;
    }

    #section-top-text-h1{
        font-size: 48px;
    }
    #section-top-text-h2{
        display: none;
    }
    #section-top-text-h2-min{
        display: flow;
        font-family: "Open Sans", sans-serif;
        font-size: 20px;
        height: 96px;
        line-height: 32px;
    }

    .btn1{
        margin-top: 60px;
    }
}

#section-2{
    background-color: rgb(233, 242, 250);
    position: relative;
}

#section-2-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 2%;
}

#section-2-h2{
    box-sizing: border-box;
    color: rgb(71, 138, 201);
    display: block;
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-weight: 400;
    overflow-wrap: break-word;
    position: relative;
    text-align: center;
}

#section-2-p{
    box-sizing: border-box;
    color: rgb(76, 115, 151);
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: italic;
    overflow-wrap: break-word;
    pointer-events: auto;
    position: relative;
    text-align: center;
    margin-block-end: 15px;
    margin-block-start: 20px;
    margin-bottom: 15px;
}

#section-3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*flex-wrap: wrap;*/
    margin-top: 45px;
    margin-bottom: 60px;
    margin-right: 10%;
    margin-left: 10%;
}

.section-3-h3{
    box-sizing: border-box;
    color: rgb(17, 17, 17);
    display: block;
    font-family: Roboto, sans-serif;
    font-size: 30px;
    margin-block-end: 0px;
    margin-block-start: 20px;
    font-weight: 400;
    height: 36px;
    line-height: 36px;
}

.section-3-p{
    display: block;
    box-sizing: border-box;
    color: rgb(56, 124, 189);
    cursor: pointer;
    /*display: inline;*/
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 25.6px;
    overflow-wrap: break-word;
    margin-top: 20px;
}

#section-3-p-box-1-top{
    margin-top: 39px;
}
#section-3-p-box-2-top{
    margin-top: 95px;
}

.section-3-layout{
    border: solid transparent 10px;
}

#section-3-p-box-3{
    box-sizing: border-box;
    color: rgb(153, 153, 153);
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    height: 25px;
    line-height: 25.6px;
    margin-block-start: 20px;
    /*margin-inline-end: 20px;*/
    margin-top: 20px;
    overflow-wrap: break-word;
    text-align: left;
}

#section-3-mailbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}

#section-3-mail{
    background-clip: padding-box;
    background-color: rgb(242, 242, 242);


    border-radius: 10px;
    border-style: none;
    box-sizing: border-box;

    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    height: 39px;
    justify-content: center;
    letter-spacing: normal;
    line-height: 19.200001px;

    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
    text-align: start;

    transition-duration: 0.15s, 0.15s;
    transition-property: border-color, box-shadow;

    width: 221.0625px;
}

.btn3{
    background-color: rgb(56, 124, 189);
    border-color: transparent;

    box-sizing: border-box;
    color: rgb(230, 230, 230);
    cursor: pointer;
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    height: 45px;
    line-height: 25.6px;
    margin-left: 12px;
    margin-right: 0px;
    outline-width: 0px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    text-align: center;
    width: 112.9375px;
}

#section-3-icon-box{
    box-sizing: border-box;
    color: rgb(153, 153, 153);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 30px;
    margin-top: 30px;
    min-height: 16px;
    min-width: 191px;
    white-space: nowrap;
    width: 233px;
}

.section-3-svg{
    box-sizing: border-box;
    color: rgb(153, 153, 153);
    cursor: pointer;
    display: block;
    fill: rgb(153, 153, 153);
    height: 23px;
    white-space: nowrap;
    width: 23px;
}

#section-4{
    background-image: linear-gradient(0deg, rgba(41, 46, 51, 0.25), rgba(41, 46, 51, 0.25)), url("https://images01.nicepage.com/8d/98/8d98d9f895d45f1a7a10b3f4152d0a2a.jpeg");
    background-position: 50% 50%;
    background-size: cover;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
}

#section-4-layout{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    padding-left: 45%;
    padding-right: 10%;
    padding-top: 12%;
    padding-bottom: 12%;
}

#section-4-text{
    box-sizing: border-box;
    box-sizing: border-box;
    color: #ffffff;
    display: block;
    overflow-wrap: break-word;
    pointer-events: auto;
    position: relative;
    text-align: right;
}

#section-4-text-h2{
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-weight: 400;
    height: 39px;
    line-height: 39.599998px;
}

#section-4-text-p{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    height: 96px;
    line-height: 32px;
    margin-block-end: 0px;
    margin-block-start: 20px;
    margin-top: 20px;
}

.btn2{
    position: relative;
    display: table;
    cursor: pointer;
    background-color: transparent;
    border: rgb(230, 230, 230) solid 2px;
    box-sizing: border-box;
    color: rgb(230, 230, 230);

    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    height: 49px;
    letter-spacing: normal;
    line-height: 25.6px;
    margin-bottom: 40px;
    /*margin-left: 546.9375px;*/
    /*margin-right: 0px;*/
    margin-top: 40px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    pointer-events: auto;

    stroke: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    /*width: 133.0625px;*/
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(41, 46, 51);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    padding-bottom: 50px;
}

#footer-h3{
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    font-family: Roboto, sans-serif;
    font-size: 30px;
    font-weight: 400;
    height: 36px;
    line-height: 36px;
    margin-block-end: 0px;
    overflow-wrap: break-word;
    cursor: pointer;

    margin-top: 34px
}

#footer-icon-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 40px;
}

.footer-svg{
    box-sizing: border-box;
    fill: rgb(255, 255, 255);
    height: 23px;
    letter-spacing: normal;
    line-height: 0px;
    pointer-events: auto;
    text-align: left;
    text-transform: none;
    white-space: nowrap;
    width: 23px;

    margin-right: 8px;
    margin-left: 8px;
}

#footer-p{
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: italic;
    height: 25px;
    line-height: 25.6px;
    margin-block-end: 30px;
    margin-block-start: 34px;
    margin-bottom: 30px;
    margin-inline-end: 20px;
    margin-inline-start: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 34px;
    overflow-wrap: break-word;
    text-align: center;
}

/*media query for section 2*/

 #section-2 {
     background-image: none;
 }

.section-2-box-layout {
    min-height: 401px;
}

.section-2-boxes{
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    justify-content: center;
}
.section-2-icon {
    height: 26px;
    width: 26px;
    margin: -29px auto 23px 20px;
}
.section-2-image {
    height: 298px;
    width: 360px;
    margin: 0 auto 0 0;
}
.section-2-box-text {
    font-size: 1.25rem;
    font-style: italic;
    margin: 22px 20px 0 60px;
}
.section-2-box-layout{
    border: 15px solid transparent;
}

.section-2-box{
    font-family: "Open Sans", sans-serif;
    background-color: #ffffff;
}

.section-2-icon{
    fill: rgb(192, 192, 192);
}


@media (max-width: 1199px) {
    .section-2-image {
        height: 298px;
        width: 293px;
        margin-right: initial;
        margin-left: initial;;
    }
    .section-2-box-text {
        margin-right: 16px;
        margin-left: 49px;
    }
    .section-2-icon {
        margin-left: 16px;
    }

    .section-2-box{
        height: 372px;
        width: 293px;
    }
    .section-2-box-layout{
        height: 402px;
        width: 323px;
    }
}
@media (max-width: 991px) {
    .section-2-box-text {
        margin-right: 13px;
        margin-left: 52px;
    }
    .section-2-icon {
        margin-left: 13px;
    }

    .section-2-box{
        height: 404px;
        width: 220px;
    }

    .section-2-image {
        height: 298px;
        width: 220px;
        margin-right: initial;
        margin-left: initial;;
    }
    .section-2-box-layout{
        height: 434px;
        width: 250px;
    }
}
@media (max-width: 767px) {

    .section-2-box-text {
        margin-right: 12px;
        margin-left: 38px;
    }
    .section-2-icon {
        margin-left: 6px;
    }

    .section-2-boxes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-2-image{
        margin-right: initial;
        margin-left: initial;
        height: 298px;
        width: 540px;
        object-fit: cover;
        display: block;
        vertical-align: middle;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }

    .section-2-box{
        height: 372px;
        width: 540px;
    }

    .section-2-box-layout{
        height: 402px;
        width: 540px;
        opacity: 1;
        max-height: 100%;
        line-height: 25.6px;
        min-height: 401px;
        border-right-width: 0;
        border-left-width: 0;
        border-top-width: 15px;
        border-bottom-width: 15px;
    }
}
@media (max-width: 575px) {
    .section-2-box-text {
        margin-right: 12px;
        margin-left: 38px;
    }
    .section-2-icon {
        margin-left: 6px;
    }

    .section-2-boxes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-2-image{
        margin-right: initial;
        margin-left: initial;
        height: 298px;
        width: 340px;
        object-fit: cover;
        display: block;
        vertical-align: middle;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }

    .section-2-box{
        height: 372px;
        width: 340px;

    }

    .section-2-box-layout{
        height: 402px;
        width: 340px;
        opacity: 1;
        max-height: 100%;
        line-height: 25.6px;
        min-height: 401px;
        border-right-width: 0;
        border-left-width: 0;
        border-top-width: 15px;
        border-bottom-width: 15px;
    }
}


/*media query for section 3*/

@media (max-width: 1199px){
    .section-3-h3{
        font-size: 24px;
    }
    #section-3-mail{
        width: 165px;
    }
    #section-3-icon-box{
        width: 233px;
    }
    #section-3-p-box-2-top{
        margin-top: 95px;
    }
}

@media (max-width: 991px){

    #section-3-p-box-2-top{
        margin-top: 70px;
    }
    #section-3-p-box-3{
        margin-top: 31px;
    }
    #section-3-mail{
        width: 106px;
    }
}
@media (max-width: 767px){
    #section-3{
        flex-direction: column;
        align-items: flex-start;
    }
    #section-3-p-box-2-top{
        margin-top: 30px;
    }
    #section-3-mailbox{
        flex-direction: column;
        align-items: flex-start;
    }
    #section-3-mail{
        width: 517px;
    }
    .btn3{
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 18px;
        width: 517px;
    }


}

@media (max-width: 575px){
    .section-3-h3{
        font-size: 20px;
    }
    #section-3{
        flex-direction: column;
        align-items: flex-start;
    }
    #section-3-p-box-2-top{
        margin-top: 30px;
    }
    #section-3-mailbox{
        flex-direction: column;
        align-items: flex-start;
    }
    #section-3-mail{
        width: 325px;
    }
    .btn3{
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 18px;
        width: 325px;
    }
}
</style>

<!--media query for section 4-->
<style>
@media (max-width: 1199px){
    #section-4-layout{
        padding-left: 35%;
    }
}
@media (max-width: 991px){
    #section-4-layout{
        padding-left: 25%;
    }
}
@media (max-width: 767px){
    #section-4-layout{
        padding-left: 10%;
    }
    .btn2{
        margin-top: 50px;
    }
}

@media (max-width: 575px){

    #section-4-text-p{
        margin-top: 30px;
        font-size: 16px;
    }

    #section-4-layout{
        padding-bottom: 20px;
    }

    .btn2{
        margin-top: 70px;
    }
}


/*all style for section 5*/

 #section-5{
     background-color: rgb(233, 242, 250);
     position: relative;
     padding-bottom: 70px;
 }

#section-5-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 2%;
}

#section-5-h2{
    box-sizing: border-box;
    color: rgb(17, 17, 17);
    display: block;
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-weight: 400;
    overflow-wrap: break-word;
    position: relative;
    text-align: center;
}

#section-5-p{
    box-sizing: border-box;
    color: rgb(17, 17, 17);
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: italic;
    overflow-wrap: break-word;
    pointer-events: auto;
    position: relative;
    text-align: center;
    margin-block-end: 15px;
    margin-block-start: 20px;
    margin-bottom: 15px;
}

#section-5-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

#section-5-miniboxes{
    display: flex;
    flex-direction: column;
}

.section-5-boxes{
    display: flex;
    flex-direction: row;
}

.section-5-box-layout{
    border: 10px solid transparent;
}

.section-5-box-image{
    background-clip: padding-box;
    background-color: transparent;
    background-origin: padding-box;
    border-image-repeat: stretch;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;

    max-height: 100%;
    /*max-width: 50%;*/
    max-width: 100%;
    object-fit: cover;
    opacity: 1;
    position: relative;

    height: 259px;
    width: 270px;
}

.section-5-box-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: space-around;*/
    background-color: rgb(255, 255, 255);
    height: 259px;
    width: 270px;
}

.section-5-icon{
    margin-top: 45px;
    box-sizing: border-box;
    color: rgb(71, 138, 201);
    fill: rgb(71, 138, 201);
    width: 38px;
}

.section-5-box-h4{
    box-sizing: border-box;
    color: rgb(17, 17, 17);
    display: block;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.799999px;
    margin-block-end: 0px;
    margin-block-start: 30px;
    margin-inline-end: 20px;
    margin-inline-start: 20px;
    margin-top: 30px;
    overflow-wrap: break-word;
    pointer-events: auto;
    position: relative;
    text-align: center;
}


.section-5-box-p{
    box-sizing: border-box;
    color: rgb(17, 17, 17);
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-style: italic;
    line-height: 22.4px;
    margin-block-end: 25px;
    margin-block-start: 20px;
    margin-bottom: 25px;
    margin-inline-end: 20px;
    margin-inline-start: 20px;
    margin-top: 20px;
    overflow-wrap: break-word;
    position: relative;
    text-align: center;
}

#section-5-bigbox-layout{
    border: 10px solid transparent;
}

#section-5-bigbox-image{
    background-clip: padding-box;
    background-color: transparent;
    background-origin: padding-box;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;

    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    opacity: 1;
    position: relative;

    height: 538px;
    width: 560px;
}

@media (max-width: 1199px){
    #section-5-bigbox-image{
        height: 539px;
        width: 460px;
    }

    .section-5-box-image{
        height: 260px;
        width: 220px;
    }

    .section-5-image{
        height: 260px;
        width: 220px;
    }

    .section-5-box-text{
        height: 260px;
        width: 220px;
    }

    .section-5-icon{
        margin-top: 25px;
    }

    .section-5-box-p{
        margin-left: 16px;
        margin-right: 16px;
    }
}
@media (max-width: 991px){
    #section-5-h2{
        font-size: 48px;
    }

    #section-5-container{
        flex-direction: column;
        align-items: center;
    }

    #section-5-bigbox-image{
        height: 538px;
        width: 720px;
    }

    .section-5-box-image{
        height: 259px;
        width: 350px;
        min-width: 350px;
    }

    .section-5-image{
        height: 259px;
        width: 350px;
    }

    .section-5-box-text{
        height: 259px;
        width: 350px;
    }

    .section-5-icon{
        margin-top: 40px;
    }

    .section-5-box-p{
        margin-left: 16px;
        margin-right: 16px;
    }
}
@media (max-width: 767px){
    #section-5-h2{
        font-size: 48px;
    }

    #section-5-container{
        flex-direction: column;
        align-items: center;
    }

    #section-5-miniboxes{
        flex-direction: column;
    }

    .section-5-boxes {
        flex-direction: column;
        align-items: center;
    }

    #section-5-bigbox-image{
        height: 538px;
        width: 540px;
    }

    .section-5-box-image{
        height: 259px;
        width: 540px;
    }

    .section-5-image{
        height: 259px;
        width: 540px;
    }

    .section-5-box-text{
        height: 259px;
        width: 540px;
    }

    .section-5-icon{
        margin-top: 60px;
    }

    .section-5-box-p{
        margin-left: 16px;
        margin-right: 16px;
    }
}

@media (max-width: 575px){
    #section-5-p{
        width: 328px;
    }
    #section-5-h2{
        font-size: 30px;
    }

    #section-5-container{
        flex-direction: column;
        align-items: center;
    }

    #section-5-miniboxes{
        flex-direction: column;
    }

    .section-5-boxes {
        flex-direction: column;
        align-items: center;
    }

    #section-5-bigbox-image{
        height: 538px;
        width: 340px;
    }

    .section-5-box-image{
        height: 259px;
        width: 340px;
    }

    .section-5-image{
        height: 259px;
        width: 340px;
    }

    .section-5-box-text{
        height: 259px;
        width: 340px;
    }

    .section-5-icon{
        margin-top: 45px;
    }

    .section-5-box-p{
        margin-left: 16px;
        margin-right: 16px;
    }
}
